@import "tailwindcss";
@import "./styles/tokens.css";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--font-family-base);
  color: var(--color-neutral-11);
  background: var(--color-neutral-1);
  -webkit-font-smoothing: antialiased;
}